<div fxLayoutAlign="center">
  <form gdColumns="1 1fr" class="contactContainer" gdGap="14px" action="https://app.99inbound.com/api/e/0Uvczba8" method="POST" target="_blank" animateElement="fadeInLeft" speed="fast" aos>
    <h1 style="margin-bottom: 40px;">Contact Me</h1>
    <div style="position: absolute; left: -5000px;">
      <input type="checkbox" name="ultimate_chiffon_pinstriped_dolphin" value="1" tabindex="-1" autocomplete="no">
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required autocomplete="no"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required autocomplete="no"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput rows="5" cols="50" style="resize: none;" autocomplete="no"></textarea>
    </mat-form-field>
    <button mat-button style="width: 20vw; justify-self: center;">Submit</button>
  </form>
</div>
