@import "../../theme.scss";

.contactContainer {
  padding: 2%;
  margin-top: 12vw;
  height: 40vh;
  width: 59vw;
  max-width: 800px;
  color: $white;
}

#contactTypeWriter {
  font-family: 'Courier';
}

mat-label {
  color: $white;
}

.name .mat-form-field-flex {
  background: $primary-blue;
}

.email .mat-form-field-flex {
  background: linear-gradient( $primary-blue,  $primary-green);
}

.message .mat-form-field-flex {
  background: $primary-green;
}

.mat-placeholder-required {
  color: $white !important;
}

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: transparent !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: transparent !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: transparent !important;
}
