<div fxLayoutAlign="center">
  <form class="contactContainer">
    <h1 #contactTypeWriter id="contactTypeWriter">$</h1>
    <div gdColumns="1 1fr" gdGap="14px" >
      <div style="position: absolute; left: -5000px;">
        <input type="checkbox" name="ultimate_chiffon_pinstriped_dolphin" value="1" tabindex="-1" autocomplete="off">
      </div>
      <mat-form-field appearance="fill" class="name">
          <mat-label [ngStyle]=
          "{'color': nameValidation.touched && nameValidation.errors?.required ? 
            'red' : 'white'}">Name</mat-label>
          <input matInput #nameValidation="ngModel" [(ngModel)]="username" name="username" required autocomplete="off" /> 
      </mat-form-field>
      <mat-form-field appearance="fill" class="email">
          <mat-label [ngStyle]=
            "{'color': emailValidation.touched && 
              (emailValidation.errors?.required || emailValidation.errors?.pattern) ? 
              'red' : 'white'}" >Email</mat-label>
          <input matInput #emailValidation="ngModel" 
            [(ngModel)]="email" name="email" 
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required autocomplete="off" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="message">
          <mat-label>Message</mat-label>
          <textarea matInput [(ngModel)]="message" name="message" rows="5" cols="50" style="resize: none;" autocomplete="off" ></textarea>
      </mat-form-field>
      <div class="submitButton">
        <button mat-button (click)="sendMessage()">Submit</button>
      </div>
    </div>
  </form>
</div>
