@import '../../theme.scss';

.skillContainer {
  padding: 8%;
}

.tilesPanel {
  justify-items: left;
  margin-left: 3%;
}

#skillTypeWriter {
  font-family: 'Courier';
}

.skillTiles {
  .l {
    color: $primary-purple;
  }
  .fnl {
    color: $primary-green;
  }
  .tnm {
    color: $primary-blue;
  }
  .o {
    color: $primary-yellow;
  }
}
