.skillContainer {
  padding: 8%;
}

.tilesPanel {
  justify-items: center;
}

#skillTypeWriter {
  font-family: 'Courier';
}

.skillTiles {
  .l {
    color: #bc8add;
  }
  .fnl {
    color: #94af6f;
  }
  .tnm {
    color: #67a7c1;
  }
  .o {
    color: #bf9956;
  }
}
