.splashPage {
  max-width: 100%;
  min-height: 100%;
  color: white;
  background-color: rgb(26, 26, 26);
}

.splashPageSmall {
  color: white;
  background-color: rgb(26, 26, 26);
  min-height: 100%;
}

// TODO:TH Place holder for now.
#titleImg {
  background-image: url('https://static.wixstatic.com/media/b69086_86dbd0116e284dcba9f1575de3335479~mv2.gif');
}

#title {
  position: fixed;
  top: 0px;
  width: 50%;
  height: 50%;
}

#main {
  position: relative;
  z-index: 1;
  background-color: rgb(36, 36, 36);
}

/* Styles for tab labels */
.mat-tab-label {
  color: white;
  font-size: 24px !important;
  padding: 2% !important;
}

/* Styles for the active tab label */
.mat-tab-label .mat-tab-label-active {
  color: white;
}
