<div
  class="splashPage"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    appParallax
    [ratio]="0.1"
    (startTransition)="action($event)"
    class="animated fadeInDown"
    id="title"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h1 style="font-size: 80px; margin-bottom: 1em; width: 400px;">Tommy Ho</h1>
    <h2 style="font-size: 40px;">Full Stack Developer</h2>
    <h2 style="font-size: 40px;">Angular Developer</h2>
  </div>
</div>

<div id="main" class="splashPage">
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="Skills">
      <app-skills></app-skills>
    </mat-tab>
    <mat-tab label="Projects">
      <app-projects></app-projects>
    </mat-tab>
    <mat-tab label="Contact Me">
      <app-contact></app-contact>
    </mat-tab>
  </mat-tab-group>
</div>
