---
import Index from '../components/index';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tommy Ho | Software Engineer</title>
  </head>
  <body class="bg-[#121212] text-white font-courier">
    <div class="h-screen bg-cover bg-no-repeat p-20" style="background-image: url('/images/Terminal.svg');">
      <Index client:load />
    </div>
  </body>
</html>