<div
  [ngClass]="{
    'tile-container': state === 'hidden',
    'tile-container-mobile': isMobile && state === 'visible',
    'tile-container-hover': state === 'visible' && !isMobile
  }"
  (click)="onNavigate()"
  (mouseover)="this.state = 'visible'"
  (mouseout)="this.state = 'hidden'"
>
  <div fxLayoutAlign="center center">
    {{ tileData.name }}
  </div>
  <div class="techUsedPanel" fxLayout="row" fxLayoutAlign="center" [@state]="state">
    <img *ngFor="let imgTool of toolDataDisplay" [src]="imgTool" />
  </div>
</div>
