---
import { NavComponent } from "../components/nav";
import { ViewTransitions } from 'astro:transitions';
const { showNav } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tommy Ho | Software Engineer</title>
    <ViewTransitions></ViewTransitions>
  </head>
  <body class="bg-[#121212] text-white font-courier">
    <div class="flex justify-between">
      <div class="flex space-x-4 p-4 pt-8 pl-8">
        <div class="bg-red-500 rounded-full w-10 h-10"></div>
        <div class="bg-yellow-500 rounded-full w-10 h-10"></div>
        <div class="bg-green-500 rounded-full w-10 h-10"></div>
      </div>
      <div class="p-4 pt-8 pl-8">
        {showNav === "true" && <NavComponent></NavComponent>}
      </div>
      
    </div>
    <div class="pt-90p px-[5%]">
      <slot/>
    </div>


  </body>
</html>